button:focus{
    outline: none;
}

body {
    background-color: #FFE773;
    color: #232323;
    text-align: center;
    margin-top: 200px;
    font: 10pt Verdana, Helvetica, Arial, sans-serif;
}

table {
    border: 2px dotted #eee;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    font: 10pt Verdana, Helvetica, Arial, sans-serif;
}

.cell-input {
    width: 100%;
    padding: 7px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, button {
    cursor: pointer;
}

.tbl_lb {
    border-left:solid #eee 1px;
}

.tbl_tb {
    border-top:solid #eee 1px;
}

.np {
    padding: 0;
}

td, th {
    padding: 7px;
}

.metal-background {
    background-image: #FFE773;
}

.chkd-btn {
    background-color: #cec !important;
}

.center {
    margin: auto;
}

.cell-7 {
    width: 7%;
}

.cell-12 {
    width: 12%;
}

.rounded-block {
    border-radius: 25px;
    border: 2px solid #999999;
    padding: 20px;
}

.e-btn {
    background-color: #ececec;
    color: #121212;
    border-radius: 20px;
    border: 1px solid #585858;
    padding: 5px 15px;
    font: 10pt Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
}